body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 400px;
}

.header {
    background-color: #333;
    color: #ccc;
    padding: 5px;
    font-size: 14px;
    text-align: left;
    border-radius: 8px 8px 0 0;
}

.card {
    border: 2px solid #d0d0d0;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-header {
    background-color: #e0e0e0;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
    border-bottom: 1px solid #d0d0d0;
    text-align: left;
}

.details {
    padding: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
}

.label {
    font-size: 16px;
    color: #333;
}

.value {
    font-size: 16px;
    color: #333;
}

.id-image {
    width: 30px;
    height: 30px;
    background-color: #e0e0e0;
    padding: 3px;
    border-radius: 8px;
}
